@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
:root{
	--colorNav: #004A8D;
	--textColor: #fff;
}
a {
  color: var(--textColor);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
    font-size: 24px;
	  color:#fff;
    text-transform: uppercase;
    letter-spacing: 4px;
	  background-color: var(--colorNav);
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .logoImg {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin: 10px;
  }
  
  
  .ajustaLogo{ 
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    font-family: 'Poppins', sans-serif;
    background: var(--colorNav);
    height: 8vh;
    margin-left: -15vh;
  }
  
  
  nav {
    display: flex;
    height: 80px;
    background-color: var(--colorNav);
    align-items: center;
    justify-content: space-around;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
  }
  
  
  .nav-list  {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
	
  }
  
  .nav-list li {
    margin: 0 5px;
  }
  
  .nav-list li a{
    text-decoration: none;
	
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  
  .nav-list li a.active,
  .nav-list li a:hover{
      background: #6d6c6c;
  }
  
  .nav-list li a.cadastro.active,
  .nav-list li a.cadastro:hover{
      background: #000;
  }
  nav .menu-btn i{
    color: #000;
    cursor: pointer;
    display: none;
  }
  /* fim barra de nav */

  @media (max-width: 999px) {

  body{
    overflow-x: hidden;
  }

  .logo{
    font-size: 17px;
  }
  .ajustaLogo{ 
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    font-family: 'Poppins', sans-serif;
    background: var(--colorNav);
    height: 8vh;
    margin-left: -7vh;
  }
  .logoImg {
    display: none;
  }
  nav .menu-btn i{
    display: block;
  }
   nav .nav-list{
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: var(--colorNav);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block !important;
    transition: all 0.3s ease;
  }
  nav ul.open{
    left: 0;
    z-index: 2;
  }

  .nav-list li{
    width: 100%;
    margin: 50px 0;
  }

  .nav-list li a{
    font-size: 23px;
  }
  nav ul li a.active,
  nav ul li a:hover{
      background: none;
      color: #928d8d;
  }
}





@media (max-width: 999px) {

    body{
      overflow-x: hidden;
    }
  
    .logo{
      font-size: 17px;
    }
    .ajustaLogo{ 
      display: flex;
      justify-content: space-around;
      align-items: inherit;
      font-family: 'Poppins', sans-serif;
      background: var(--colorNav);
      height: 8vh;
      margin-left: -7vh;
    }
    .logoImg {
      display: none;
    }
    nav .menu-btn i{
      display: block;
    }
     nav .nav-list{
      position: fixed;
      top: 80px;
      left: -100%;
      background-color: var(--colorNav);
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block ;
      transition: all 0.3s ease;
    }
    nav ul.open{
      left: 0;
    }
  
    .nav-list li{
      width: 100%;
      margin: 50px 0;
    }
  
    .nav-list li a{
      font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #928d8d;
    }
  }