/* Reset básico para manter consistência */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Corpo da página */


/* Cabeçalho e navegação */

.ajustaLogo {
    display: flex;
    align-items: center;
}

.logoImg {
    height: 50px;
    margin-right: 10px;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.menu-btn {
    display: none; /* Oculta o botão de menu por padrão */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav a:hover {
    color: orange; /* Cor de destaque para hover */
}

/* Estilos responsivos para a barra de navegação */
@media (max-width: 768px) {
    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none; /* Oculta a lista de navegação no mobile */
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
    }

    .nav-list.active {
        display: flex;
    }
}

/* Estilo do formulário */
section.cntflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.op1, .op2 {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
	font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 50%;
}

form button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e69500;
}

#resultado {
	
    font-weight: bold;
    color: #333;
}

/* Botão de voltar ao topo */
#linkTopo {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 1.5em;
    text-decoration: none;
    transition: background-color 0.3s;
}

#linkTopo:hover {
    background-color: orange;
}
