<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>ConstruMath</title>
    <meta name="author" content="Gustavo Oliveira Viana">
	<link rel="stylesheet" href="css/materiais.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
			<!-- logo -->
            <div class="ajustaLogo">
                <img src="img\logo.jpg" alt="Logo" class="logoImg">
                <a class="logo" th:href="@{/index}">ConstruMath</a>
            </div>
			<!-- fim logo -->
			<!-- Botão Mobile -->
            <div class="menu-btn">
                <i class="fa fa-bars fa-2x" onclick="menuShow();"></i>
            </div>
			<!-- Botão Mobile -->
			<!-- Lista de abas -->
            <ul class="nav-list">
                <!--  Links para proximas pag  -->
                <li><a th:href="@{/index}" >Home</a></li>
                <li><a th:href="@{/oQueConstruir}" >O que quer construir?</a></li>
                <li><a th:href="@{/materiais}" class="active">Lista de Materiais</a></li>
                <li><a th:href="@{/calculadora}">Calculadora</a></li>
            </ul> 
			<!-- Fim Lista de abas -->
        </nav>
    </header>
    <!-- End navigation bar -->
    <body>
        <!-- Quadrado de apresentação dos integrantes -->
        <div class="container">
            <h3>Últimos Materiais adicionados</h3>
            <hr>

            <table class="table table-bordered table-hover">

            <thead>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
            </thead>
            <tbody>
                <tr scope="row" th:each="item : ${itemList}">

                    <td th:text="${item.nome}"></td>
                    <td th:text="${itemq.uantidade}"></td>
                    <td th:text="${item.preco}"></td>
                    <td>
                    <a class="btn btn-primary" th:href="@{editar/{id}(id=${item.id})}">
                    <i class="bi bi-pencil-square"></i> Editar</a>

                    <a class="btn btn-danger" th:href="@{remover/{id}(id=${item.id})}">
                    <i class="bi bi-x-square"></i> Remover</a>

                    </td>
                </tr>
            </tbody>
            </table>
            <button id="gerarPDF">Download em pdf</button>

        </div>
    </body>
    <a href="#" id="linkTopo">&#9650;</a>
    <script src="js/mobile-navbar.js"></script>
	<link rel="stylesheet" href="css/NavBar.css">
    <link rel="stylesheet" href="css/style.css">
</body>
</html>